body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.card {
  margin: 0 auto;
  margin-top: 100px;
}
.list-group {
  margin: 0 auto;
  margin-top: 10px;
}
.list-group-item:hover {
  text-decoration: line-through;
  cursor: pointer;
}
.form-group {
  margin: 0 auto;
  margin-top: 50px;
}
.form-group input:first-child {
  margin-bottom: 10px;
}
.invisible-button {
  visibility: hidden;
}
